*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    color: white;
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-content{
    width: 30%;
    text-align: right;
    margin-right: 13rem;
    margin-left: auto;
    padding: 14rem 0 12rem;
}
.header-title{
    font-size: 4rem;
    font-weight: 1000;
}
.header-text{
    font-size: 1rem;
    line-height: 1.6rem;
    text-indent: 1.5rem;
    padding: 2rem 0 2rem;
}
.primary-btn{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    border: none;
    color: #0061b0;
    background-color: white;
}
.secondary-btn{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #0061b0;
    color: white;
}

main{
    margin: 0 13rem;
}
.failure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-top: 8rem;
}
.failure-img{
    /* border: 1px solid black; */
    width: 150%;
}
.failure-img img{
    display: block;
    width: 100%;
    /* width: ; */
}
.failure-content{
    padding-right: 10rem;
    padding-top: 10rem;
}
.failure-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.failure-text{
    color: #636363;
    line-height: 1.5rem;
    padding: 2rem 0 1rem;
}
.failure-list{
    color: #636363;
    line-height: 1.8rem;
    padding-left: 2rem;
    list-style-image: url('../images/icons/check3.svg');
    
}
.plans{
    margin-top: 8rem;
}
.plans-title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}
.plan-items{
    display: flex;
    justify-content: space-between;
}
.plan img{
    display: block;
    margin: 0 auto;
}
.plan h3{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem 0 0.8rem;
}
.plan p{
    color: #636363;
    text-align: center;
    font-size: 1.5rem;
}
.call-me{
    margin: 7rem 0;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    border-radius: 10px;
}
.call-me h2{
    color: white;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    padding-right: 50%;
}

footer{
    background-color: #151617;
    padding: 8rem 14rem;
    color: white;
}
.future-title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
}
.footer-content{
    width: 45%;
}
.footer-content p{
    margin-bottom: 1.5rem;
}
.social-media{
    padding-top: 1rem;
}
.social-media img{
    display: inline-block;
    padding-right: 1.2rem;
}
.subscribe-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.email{
    border: 1px solid white;
    background-color: #151617;
    font-size: 1.2rem;
    padding: 1.3rem;
    border-radius: 5px;
    width: 90%;
    display: block;
    margin-bottom: 1rem;
    color: white;
}
