*{
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

/* header begin */
header{
    color: white;
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-content{
    width: 30%;
    text-align: right;
    margin-right: 13rem;
    margin-left: auto;
    padding: 14rem 0 12rem;
}
.header-title{
    font-size: 4rem;
    font-weight: 1000;
}
.header-text{
    font-size: 1rem;
    line-height: 1.6rem;
    text-indent: 1.5rem;
    padding: 2rem 0 2rem;
}
.primary-btn{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    border: none;
    color: #0061b0;
    background-color: white;
}

/*.secondary-btn is to be used in footer. here just to copy from .primary-btn */
.secondary-btn{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #0061b0;
    color: white;
}
/* header end */

main{
    margin: 0 13rem;
}

/* failure section begin */
.failure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    margin-top: 8rem;
}
.failure-img{
    width: 150%;
}
.failure-img img{
    display: block;
    width: 100%;
}
.failure-content{
    padding-right: 8rem;
    padding-top: 10rem;
}
.failure-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.failure-text{
    color: #636363;
    line-height: 1.5rem;
    padding: 2rem 0 1rem;
}
.failure-list{
    color: #636363;
    line-height: 1.8rem;
    padding-left: 2rem;
    list-style-image: url('../images/icons/check3.svg');
    
}
/* failure section end */


/* plan section begin */
.plans{
    margin-top: 8rem;
}
.plans-title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}
.plan-items{
    display: flex;
    justify-content: space-between;
}
.plan img{
    display: block;
    margin: 0 auto;
}
.plan h3{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem 0 0.8rem;
}
.plan p{
    color: #636363;
    text-align: center;
    font-size: 1.5rem;
}
/* plan section end */

/* approach section begin */
.my-approach{
    margin: 8rem 0 8rem;
    background-color: #e9e9e9;
    border-radius: 15px;
    padding: 2rem 0 4rem;
}
.my-approach-title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}
.approaches{
    display: flex;
    justify-content: space-around;
}
.approach{
    padding: 4rem;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 0 1rem 1px gray;
    /* color: #5b5b5b; */
}
.approach h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    /* color: #373737; */
}
.approach:nth-child(1){
    background-color: #8c8c68;
}
.approach:nth-child(1) ul{
    list-style-image: url('../images/icons/exclamation-15.png');
}
.approach:nth-child(2){
    background-color: #a57777;
}
.approach:nth-child(2) ul{
    list-style-image: url('../images/icons/no-entry.png');
}
.approach:nth-child(3){
    background-color: rgb(110, 155, 110);
}
.approach:nth-child(3) ul{
    list-style-image: url('../images/icons/check3.svg');
}
/* approach section end */


/* call section begin */
.call-now{
    margin: 7rem 0;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    border-radius: 10px;
}
.call-now h2{
    color: white;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    padding-right: 50%;
}
/* call section end */


/* footer begin */
footer{
    background-color: #151617;
    padding: 8rem 14rem;
    color: white;
}
.future-title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
}
.footer-content{
    width: 45%;
}
.footer-content p{
    margin-bottom: 1.5rem;
}
.social-media{
    padding-top: 1rem;
}
.social-media img{
    display: inline-block;
    padding-right: 1.2rem;
}
.subscribe-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.email{
    border: 1px solid white;
    background-color: #151617;
    font-size: 1.2rem;
    padding: 1.3rem;
    border-radius: 5px;
    width: 90%;
    display: block;
    margin-bottom: 1rem;
    color: white;
}
/* footer end */
